<div class="row" style="margin-bottom: 10px;">
	<div class="col-md-12">
	    <div class="col-md-3">
		    <div class="well sidebar-nav">
		        <div class="panel-group" id="accordion" ng-repeat="zone in zones track by $index" style="margin-bottom:5px">
		            <div class="panel panel-default">
		                <div class="panel-heading" data-toggle="collapse" data-target="#{{$index}}">
		                    <span>{{zone.name}}</span>
		                    <span class="pull-right" ng-click="removeArea(zone, $index);$event.stopPropagation()"><i class="glyphicon glyphicon-remove"></i></span>
		                    <span class="pull-right" ng-click="editArea(zone, $index)"><i class="glyphicon glyphicon-pencil">&nbsp;</i></span>
		                </div>
		                <div id="{{$index}}" class="panel-collapse collapse" style="padding:5px">
		                    <div class="row">
		                        <label class="col-sm-3 control-label">Name: </label>
		                        <div class="col-sm-9">
		                            <input type="text" class="form-control input-sm" name="areaName" ng-model="zone.name" placeholder="area name" readonly>
		                        </div>
		                    </div>
		                    <div class="row">
		                        <div class="col-sm-12" style="padding: 0px;margin-top: 5px;">
		                            <center>
		                                <button class="btn btn-success btn-sm" type="button" ng-click="updateArea(zone, $index)" data-toggle="collapse" data-target="#{{$index}}">update</button>
		                            </center>
		                        </div>
		                    </div>
		                </div>
		            </div>
		        </div>
		        <div class="panel-group" id="accordion" style="margin-bottom:5px">
		            <div class="panel panel-default">
		                <div class="panel-heading" data-toggle="collapse" data-target="#newarea">
		                    <span>Add Area</span>
		                    <span class="pull-right" ng-click="removeCurrentArea();$event.stopPropagation()"><i class="glyphicon glyphicon-remove"></i></span>
		                </div>
		                <div id="newarea" class="panel-collapse in" style="padding:5px">
		                	<div class="row" style="margin-bottom: 5px;">
		                		<div class="col-sm-6" style="padding-right:0px">
			                		<center>
			                			<button style="width:100%" class="btn btn-success btn-sm" type="button" ng-click="switchToCircle()">Circle</button>
			                		</center>
		                		</div>
		                		<div class="col-sm-6" style="padding-left:0px">
			                		<center>
			                			<button style="width:100%" class="btn btn-warning btn-sm" type="button" ng-click="switchToPoly()">Polygon</button>
			                		</center>
		                		</div>
		                	</div>
		                    <div class="row">
		                        <label class="col-sm-3 control-label">Name: </label>
		                        <div class="col-sm-9">
		                            <input type="text" class="form-control input-sm" name="areaName" ng-model="temp.currentAreaName" placeholder="area name">
		                        </div>
		                    </div>
		                    <div class="row">
		                        <div class="col-sm-12" style="padding: 0px;margin-top: 5px;">
		                            <center>
		                                <button class="btn btn-success btn-sm" type="button" ng-click="addCurrentArea()" ng-disabled="!temp.currentAreaName" data-toggle="collapse" data-target="#newarea">save</button>
		                            </center>
		                        </div>
		                    </div>
		                </div>
		            </div>
		        </div>
		    </div>
	    </div>
	    <div class="col-md-9">
	    	<input id="pac-input" ng-show="sideArea" ng-style="{ 'border': !temp.search ? '1px solid #a94442' : '1px solid rgba(27,127,204,.8)' }" class="controls form-control" type="text" ng-model="temp.search" placeholder="Google Area" style="z-index:1051;" ng-dblclick="clearInput()">
			<div id="map"></div>
			<div id="shapeAdd">Shape Saved !</div>
			<div id="shapeUpdate">Shape Updated !</div>
	    </div>
	</div>
</div>